In [1]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
import pandas as pd

In [3]:
# csv files for answer responses
gdrive_path = "/Users/dorislee/Google Drive/Turn/user_study/evaluation_study/transcription_and_analysis/"

In [4]:
user_task =  pd.read_csv(gdrive_path+"UserTaskAssignment.csv")

In [5]:
%load_ext autoreload
%autoreload 2
from paper_visualization import *

# Qualitative Analysis

In [6]:
police_code = pd.read_csv(gdrive_path+"Findings(Police).csv").replace("T",1).replace("F",0)
autism_code = pd.read_csv(gdrive_path+"Findings(Autism).csv").replace("T",1).replace("F",0)
police_code.columns=["User"]+list(user_task["Task1"])
autism_code.columns=["User"]+list(user_task["Task2"])
police_code=police_code.T.reset_index()
autism_code=autism_code.T.reset_index()
police_code.columns=police_code.loc[0]
police_code = police_code.drop(0)
autism_code.columns=autism_code.loc[0]
autism_code = autism_code.drop(0)

# Contextual Reference and Distribution Awareness

In [7]:
comparison = ['Comparing against other visualizations that have the one or more of the same attribute (relatives)','Comparing against overall','Comparing against immediate parent','Comparing between siblings']

In [8]:
police_agg_result = police_code.groupby("User",as_index=False).sum()

In [9]:
police_agg_result[["User"]+comparison]

,User,Comparing against other visualizations that have the one or more of the same attribute (relatives),Comparing against overall,Comparing against immediate parent,Comparing between siblings
0,A1,0,6,6,5
1,A2,6,5,2,0
2,A3,1,3,0,3

In [10]:
police_agg_result[["User"]+comparison].sum(axis=1)

0    17
1    13
2     7
dtype: int64

In [11]:
autism_agg_result = autism_code.groupby("User",as_index=False).sum()

In [12]:
autism_agg_result[["User"]+comparison]

,User,Comparing against other visualizations that have the one or more of the same attribute (relatives),Comparing against overall,Comparing against immediate parent,Comparing between siblings
0,B1,0,5,6,3
1,B2,1,3,2,0
2,B3,0,5,0,2

In [13]:
autism_agg_result[["User"]+comparison].sum(axis=1)

0    14
1     6
2     7
dtype: int64

In [14]:
combinedABdataset= autism_agg_result[["User"]+comparison]+police_agg_result[["User"]+comparison]

In [15]:
combinedABdataset

,User,Comparing against other visualizations that have the one or more of the same attribute (relatives),Comparing against overall,Comparing against immediate parent,Comparing between siblings
0,B1A1,0,11,12,8
1,B2A2,7,8,4,0
2,B3A3,1,8,0,5

In [16]:
combinedABdataset["User"] = combinedABdataset["User"].replace("B1A1","\system").replace("B2A2","Cluster").replace("B3A3",'BFS')

In [17]:
combinedABdataset.columns=['Algorithm','Relative','Overall','Parent','Sibling']

In [18]:
combinedABdataset[['Algorithm','Overall','Parent','Sibling','Relative']]

  Algorithm  Overall  Parent  Sibling  Relative
0   \system       11      12        8         0
1   Cluster        8       4        0         7
2       BFS        8       0        5         1

In [19]:
combinedABdataset["Total"] = combinedABdataset.sum(axis=1)

In [20]:
combinedABdataset

  Algorithm  Relative  Overall  Parent  Sibling  Total
0   \system         0       11      12        8     31
1   Cluster         7        8       4        0     19
2       BFS         1        8       0        5     14

In [24]:
import tabulate as T

In [25]:
colOrder=['Algorithm','Overall','Parent','Sibling','Relative','Total']
print (T.tabulate(combinedABdataset[colOrder],tablefmt='latex', floatfmt=".2f",showindex=False,headers=colOrder))

\begin{tabular}{lrrrrr}
\hline
 Algorithm   &   Overall &   Parent &   Sibling &   Relative &   Total \\
\hline
 \textbackslash{}system     &        11 &       12 &         8 &          0 &      31 \\
 Cluster     &         8 &        4 &         0 &          7 &      19 \\
 BFS         &         8 &        0 &         5 &          1 &      14 \\
\hline
\end{tabular}

# Hierarchical v.s. Table  Layout

In [26]:
police_agg_result["Described dashboard as picked by a human"]+autism_agg_result["Described dashboard as picked by a human"]

0    5
1    0
2    1
Name: Described dashboard as picked by a human, dtype: int64

# Misleading insights

In [27]:
police_insights = ['User', u'Overall, ticketing resulted in the highest arrest rate',
u'duration and search conducted is probably correlated',
u'Only search_conducted,  and duration 30+ are all important factors in determining arrest',
u'Race is important because Black and Hispanic are arrested at higher rates than White',
"contraband_found and search_conducted have simmilar distribution, which may mean that doesn't matter if contraband was found or not, outcomes are similar.",
u"What's pulling up the arrest rate for 30+ min cases? Is race related to this or no?",
u'Interesting that contraband found for 60+ arrest rate actually increases',
u'confused that the middle path and rightmost path had different ���splits�۝ on variables (age/race) v.s. different races',
u'Population is majority white, so it should follow closely to immediate parent (contraband_found=t)',
u'Gender does not seem to influence arrest rate. (based on combination or first level viz insight)',]

In [28]:
police_important_factors = ["User","search_conducted, contraband_found, and duration 30+ are all important factors in determining arrest",
"Only search_conducted,  and duration 30+ are all important factors in determining arrest"]

In [29]:
police_agg_result[police_important_factors]

,User,"search_conducted, contraband_found, and duration 30+ are all important factors in determining arrest","Only search_conducted, and duration 30+ are all important factors in determining arrest"
0,A1,6,0
1,A2,0,5
2,A3,0,0

In [30]:
autism_important_factors = ["User","a9=1 is important"]

In [31]:
# autism_agg_result[autism_important_factors]

In [32]:
police_misleading=["User","Selected visualization with many filters are interesting 100% but may be high due to unknown subpopulation size and should be investigated further .","DId not understand that some chart may have a smaller subpopulation size","Had trouble interpreting meaning of combination of filters, related to above."]

In [33]:
police_agg_result[police_misleading]

,User,Selected visualization with many filters are interesting 100% but may be high due to unknown subpopulation size and should be investigated further .,DId not understand that some chart may have a smaller subpopulation size,"Had trouble interpreting meaning of combination of filters, related to above."
0,A1,4,0,0
1,A2,3,1,2
2,A3,1,1,1

In [34]:
misleading=["User","Had trouble interpreting meaning of combination of filters, related to above.","all the 0s have high skew towards NO and all 1s have about equal rates of YES and NO autism.","Selected visualization with many filters are interesting 100% but may be high due to unknown subpopulation size and should be investigated further .","Did not understand that some chart may have a smaller subpopulation size"]

In [35]:
autism_agg_result[misleading]

,User,"Had trouble interpreting meaning of combination of filters, related to above.",all the 0s have high skew towards NO and all 1s have about equal rates of YES and NO autism.,Selected visualization with many filters are interesting 100% but may be high due to unknown subpopulation size and should be investigated further .,Did not understand that some chart may have a smaller subpopulation size
0,B1,0,2,2,1
1,B2,1,0,1,3
2,B3,0,4,2,0

In [36]:
user_task

    User Task1 Task2
0      1    A1    B2
1      2    A1    B3
2      3    A2    B1
3      4    A2    B3
4      5    A3    B1
5      6    A3    B2
6      7    A1    B2
7      8    A1    B3
8      9    A2    B1
9     10    A2    B3
10    11    A3    B1
11    12    A3    B2
12    13    A1    B2
13    14    A1    B3
14    15    A2    B1
15    16    A2    B3
16    17    A3    B1
17    18    A3    B2